/* RESET STYLES */
* {
  margin: 0;
  padding: 0;

}
.body {
background-color: rgb(157, 51, 51);

  
  /* HEADER */
}
.title {
  margin: 50px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}

.search{
  display:flex;
  justify-content: center;
  margin-bottom: 20px;;

}
/* RESULTADOS BUSQUEDA */

.container {
  width: 100%;
}
.results {
  width: 70%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.js-item {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background: black;
}

/* FAVORITOS */

.subtitle {
  font-size: 30px;
}

.favorite-list {
  width: 20%;
  float: left;
}

.js-fav-item {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  
}
